<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AllLehrerSite</title>
</head>
<body>
    <div align="center">
        <div>
            <table>
                <th align="center">Lehrer</th>
                <tr th:each="lehrer : ${lehrer}">
                    <td th:text="${lehrer.name}" align="center"></td>
                    <td>    <a th:href="@{'/lehrer/' + ${lehrer._id}}">open</a> </td>
                </tr>
            </table>
        </div>
        <div>
            <form action="#" th:action="@{/lehrer/all}" method="post">
                <input type="text" name="name" placeholder="Name">
                <button type="submit">erstellen</button>
            </form>
    </div>
    </div>
</body>
</html>