<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lehrer</title>
</head>
<body>

    <div align="center">
        <h1 th:text="${lehrer.name} + '-FachListe'"></h1>

        <form action="#" th:action="@{/lehrer}" th:object="${lehrer}" method="post">

            <select th:field="*{Faecher}">
                <option th:each="i : ${fach.allfaecher}" th:value="${fach.name}" th:text="${fach.name}">
                </option>
            </select>

            <table>
                <tr>
                    <th align="center">Fachname</th>
                </tr>
                <tr th:each="fach : ${faecher}">
                    <td align="center" th:text="${fach.name}"></td>
                </tr>
            </table>
        </form>
    </div>

</body>
</html>