<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lehrer</title>
</head>
<body>

    <div align="center">
        <h1 th:text="${lehrer.name} + ' -FachListe'"></h1>

            <table align="center">
                <tr>
                    <th align="center">Fachname</th>
                    <th align="center">Stunden</th>
                </tr>
                <tr th:each="fach : ${faecher}">
                    <td align="center" th:text="${fach.FachName}"></td>
                    <td align="center" th:text="${fach.unterrichtsstunden}"></td>
                    <td align="center"> <a th:href="@{'/lehrer/' + ${id} + '/delete' + fach}">delete</a> </td>
                </tr>

                <form action="#" th:action="@{'/lehrer/' + ${id}}" method="post">
                    <tr>
                        <td align="center"><input type="text" name="fachName" placeholder="Fachname"></td>
                        <td align="center"><input type="number" name="unterrichtsstunden" placeholder="Stunden"></td>
                        <td> <button type="submit">erstellen</button></td>
                    </tr>
                </form>

            </table>

    </div>

</body>
</html>